cmake-build-debug
cmake-build-release
.idea
docs

server.json
server_s*_test.json
server_s*_test.db

build/
build-o0

server.db
server.db-shm
server.db-wal

*.db-shm
*.db-wal
echonode-src.tar.gz
*.tar.gz
*.swp

devtools
cmake-build-debug

